<p id="notice"><%= notice %></p>

<h1>一覧</h1>

<table>
  <thead>
    <tr>
      <th class="content">内容</th>
      <th class= "list">Picture</th>
      <th class="user">user</th>
      <th class= "created_at">投稿日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td class= "content"><%= feed.content %></td>
        <td><%= image_tag feed.image.url %></td>
        <td><%= feed.user.name %></td>
        <td class= "created_at"><%= l(feed.created_at, format: :short)%></td>
        <td><%= link_to '詳細', feed %></td>
        <td><%= link_to '編集', edit_feed_path(feed) %></td>
        <td><%= link_to '削除', feed, method: :delete, data: { confirm: '本当に削除してもいいですか？' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<div class="link">
  <%= link_to '新規投稿', new_feed_path %>
</div>
