<h3>以下の内容で送信する</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <p>タイトル：<%= @blog.title %></p>
  <%= form.hidden_field :content %>
  <p>本文：<%= @blog.content %></p>
  <%= form.submit "新規投稿" %>
  <%= form.submit "back", name: 'back' %>
<% end %>
